<?xml version='1.0' encoding='UTF-8'?>
<slave>
  <name>CLang 3.5</name>
  <description></description>
  <remoteFS>/home/jenkins</remoteFS>
  <numExecutors>1</numExecutors>
  <mode>NORMAL</mode>
  <retentionStrategy class="hudson.slaves.RetentionStrategy$Always"/>
  <launcher class="hudson.plugins.sshslaves.SSHLauncher" plugin="ssh-slaves@1.10">
    <host>127.0.0.1</host>
    <port>225</port>
    <credentialsId>1e0e1c2b-b604-43b3-81eb-ec12f89e1af9</credentialsId>
    <maxNumRetries>0</maxNumRetries>
    <retryWaitTime>0</retryWaitTime>
  </launcher>
  <label>clang</label>
  <nodeProperties/>
  <userId>igor</userId>
</slave>